<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro</title>

    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
        integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container mt-4">
        <form id="frmUsuario">
            <h3>Cadastro</h3>

            <div class="mb-3">
                <label for="nome" class="form-label">Nome completo</label>
                <input type="text" class="form-control" id="nome" required />
            </div>

            <div class="mb-3">
                <label for="idade" class="form-label">Idade</label>
                <input type="number" class="form-control" id="idade" required />
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" required />
            </div>

            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" required />
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>

            <a href="/tiin-backend/src/view/index.html">Login</a>
        </form>
    </div>

    <script>
        document.getElementById("frmUsuario").addEventListener("submit", async (event) => {
            event.preventDefault();

            const nome = document.getElementById("nome").value;
            const idade = Number(document.getElementById("idade").value);
            const email = document.getElementById("email").value;
            const senha = document.getElementById("senha").value;


            const data = { nome: nome, idade: idade, email: email, senha:senha };

           
                fetch("http://localhost:3000/registrar",  {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({nome: nome, idade: idade, email: email, senha:senha}),
                }
                ).then(res => res.json())
                .then(data => alert("Cadastrado com sucesso!"));

                // if (response.ok) {
                //     const result = await response.json();
                //     alert("Usuário cadastrado com sucesso!");
                //     console.log(result);
                // } else {
                //     const errorText = await response.text();
                //     alert("Erro ao cadastrar: " + errorText);
                // }
            
        });
    </script>
</body>

</html>